<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      {% block title %}Add title{% endblock %}
    </title>
    {% comment %} Bootstrap CSS: {% endcomment %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% comment %} Any extra elements that need to go in the head {% endcomment %}
    {% block head %}{% endblock head %}
  </head>

  <body>
    {% comment %} TEMPORARY NAVBAR: {% endcomment %}
    {% block navbar %}
      {% if user.is_authenticated %}
      {% with user.profile.status_value as status %}
      <span class="pagebuttons">
      {% if status >= 0 %}
            <a href="{% url 'uploadexcelfile' %}">Upload Excel sheet</a>
      {% if status >= 1 %}
            <a href="{% url 'pickteachers' %}">Choose your teachers</a>
      {% if status >= 2 %}
            <a href="{% url 'pickfilters' %}">Choose Filters</a>
        </span>
      {% endif %}{% endif %}{% endif %}
      {% comment %} {{ status }} {% endcomment %}
      {% endwith %}
      {% endif %}
    {% endblock navbar %}
    <br><br>
    <hr>
    {% block content %}{% endblock content %}
    {% comment %} Bootstrap JS: {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>