{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}Add title{% endblock %}
    </title>
    {% comment %} Bootstrap CSS: {% endcomment %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
    {% comment %} Any extra elements that need to go in the head {% endcomment %}
    {% block head %}{% endblock head %}
</head>

<body>
    {% comment %} TEMPORARY NAVBAR: {% endcomment %} 
    {% block navbar %} 
    
    <nav class="navbar navbar-expand-lg navbar-expand navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">Over Engineering FFCS</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% with user.profile.status_value as status %}
                {% if status >= 0 %}
                <li class="nav-item active">
                    <a class="btn btn-sm btn-outline-success" href="{% url 'uploadexcelfile' %}">Upload Excel sheet</a>
                </li>
                {% endif %}

                {% if status >= 1 %}
                <li class="nav-item active">
                    <a class="btn btn-sm btn-outline-success" href="{% url 'pickteachers' %}">Choose your teachers</a>
                </li>
                {% endif %}

                {% if status >= 2 %}
                <li class="nav-item active">
                    <a class="btn btn-sm btn-outline-success" href="{% url 'pickfilters' %}">Choose Filters</a>
                </li>
                {% endif %}

                {% if status >= 3 %}
                <li class="nav-item active">
                    OO you unlocked a secret!
                </li>
                {% endif %}
            </ul>
                <!-- Rest of the new buttons go here -->

            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                {% if user.is_authenticated %}
                <li id="logoutbutton" class="nav-item active ml-auto">
                    <span id="usertitle">Logged in as {{ user.username }}!</span>
                    <!-- <br> --> &nbsp;
                    <a id="logoutbtn" class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}">Log out</a>
                </li>
                {% endif %}
            </ul>
            
        </div>
        <!-- {% if user.is_authenticated %}
        <span class="usergreet">
            Welcome {{ user.username }}!
        </span> 
        {% with user.profile.status_value as status %}
        <span class="pagebuttons">
            <a href="{% url 'index' %}">Home</a>
            {% if status >= 0 %}
                    <a href="{% url 'uploadexcelfile' %}">Upload Excel sheet</a>
            {% if status >= 1 %}
                    <a href="{% url 'pickteachers' %}">Choose your teachers</a>
            {% if status >= 2 %}
                    <a href="{% url 'pickfilters' %}">Choose Filters</a>
            {% endif %}{% endif %}{% endif %}
            {% endwith %} 
            {% endif %} -->
            {% endwith %} 


        </nav> 
        
        {% comment %} {{ status }} {% endcomment %} 
        
    </span>
    {% endblock navbar %}
    <!-- <br><br> -->
    <!-- <hr>  -->
    <div id="main-content">
        {% block content %}{% endblock content %} 
    </div>
    {% comment %} Bootstrap JS: {% endcomment %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>