{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/winffcs.css' %}"> 
<form method="post">{% csrf_token %}</form>
{% endblock head %}
{% block title %}
FFCS!!
{% endblock title %}
{% block content %}
<h5>Win FFCS!</h5>
This page is to be accessed during FFCS, but you can experiment with it a little. All teachers are listed below, with copy to clipboard
buttons for names and course codes. This page will even help you in case you aren't able to choose the teacher you wanted to, by giving
substitutes. ALL THE BEST, AND HAVE FUN.
<br>
<br>
<div id="dynamic-timetable"></div>
<div id="info"></div>
<script src="{% static 'js/ffcsfinal.js' %}"></script>
{% endblock content %}