{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/genteachlist.css' %}"> 

{% endblock head %}
{% block title %}
Final timetables
{% endblock title %}
{% block content %}
<h5>Generation of teachers list</h5>
Go through every timetable here, and make sure you find one you like. Then click on "Show List" to generate the list of teachers present in that timetable
<br><br>
<form method="post">{% csrf_token %}</form>
<script>
    const showTimetable = () => {
        window.location.href= window.location.origin + "/showtimetable/" + event.target.dataset.ttid;
    };
</script>
{% autoescape off %}
    {{ display_table }}
{% endautoescape %}
<script src="{% static 'js/genteachlist.js' %}"></script>
{% endblock content %}