{% extends 'base.html' %}
{% load static %}
{% block title %}Pick your filters!{% endblock title %}
{% block head %}
{% endblock head %}
{% block content %}
<h5>Choose your filters</h5>
  <form method="post" action="{% url 'savefilters' %}"  class="ajax form-group">
    {% csrf_token %}
    <hr>
    <input type="radio" name="pre-post-lunch" id="none" value="none" checked>
    <label for="none">Any of these is fine!</label>
    <br>
    <input type="radio" name="pre-post-lunch" id="pre-lab-post-theory" value="pre-lab-post-theory">
    <label for="pre-lab-post-theory">I want all <b>lab</b> classes to be <b>before</b> lunch and all <b>theory</b> classes to be <b>after</b> lunch</label>
    <br>
    <input type="radio" name="pre-post-lunch" id="pre-theory-post-lab" value="pre-theory-post-lab">
    <label for="pre-theory-post-lab">I want all <b>lab</b> classes to be <b>after</b> lunch and all <b>theory</b> classes to be <b>before</b> lunch</label>
    <br>
    <input type="radio" name="pre-post-lunch" id="pre-theory" value="pre-theory">
    <label for="pre-theory">Only want all <b>theory</b> classes be <b>before</b> lunch</label>
    <br>
    <input type="radio" name="pre-post-lunch" id="pre-lab" value="pre-lab">
    <label for="pre-lab">Only want all <b>lab</b> classes be <b>before</b> lunch</label>
    <br>
    <input type="radio" name="pre-post-lunch" id="post-theory" value="post-theory">
    <label for="post-theory">Only want all <b>theory</b> classes be <b>after</b> lunch</label>
    <br>
    <input type="radio" name="pre-post-lunch" id="post-lab" value="post-lab">
    <label for="post-lab">Only want all <b>lab</b> classes be <b>after</b> lunch</label>
    <br>
    <hr>
    <p>Maximum number of:</p>
    <label for="8-classes">8 am 'o' clock classes: </label>
    <input type="number" name="8-classes" id="8-classes" min="0" max="5" value="5">
    <br>
    <label for="2-classes">2 pm 'o' clock classes: </label>
    <input type="number" name="2-classes" id="2-classes" min="0" max="5" value="5">
    <br>
    <label for="6-classes">6 pm 'o' clock classes: </label>
    <input type="number" name="6-classes" id="6-classes" min="0" max="5" value="5">
    <br>
    <hr>
    <div class="form-group">
      <label for="slots" class="form-control-label">Enter the slots you want to eliminate for sure:</label>
      <input type="text" name="slots" id="slots" placeholder="A1, A2, B2, C1, D2 ..." class="form-control">
      <h5 id="error-message1" class="invalid-feedback">**Format of slots entered is wrong, please try again</h5>
      <!-- <h5 id="error-message2" class="invalid-feedback">**Those filters generate 0 timetables!</h5> -->
    </div>
    <hr>
    <div id="pre-check-info" class="paragraph text-success">
    </div>
    <div id="zero-timetables-error" class="paragraph text-danger">Those filters generate 0 timetables!
    </div><br>
    <input type="submit" id="pre-check" class="btn btn-info" value="Pre check"/>
    <input type="submit" id="save-filters" value="Save these filters" class="btn btn-primary"/>
  </form>
  <script type="text/javascript" src="{% static 'js/pickfilters.js' %}"></script>
{% endblock content %}
