{% extends 'base.html' %}
{% load static %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet">
<script src="{% static 'js/tempteacherlist.js' %}" defer></script>
<link rel="stylesheet" href="{% static 'css/tempteacherlist.css' %}"> 

{% endblock head %}
{% block title %}
Finalize Teachers list
{% endblock title %}
{% block content %}
<form method="post">{% csrf_token %}</form>
<span id="ttid" data-ttid="{{ ttid }}" hidden></span>
<h5>Save Teacher Priority</h5>
Here, you can order the priorities of subjects and thier teachers by dragging and dropping the rows of a table and the tables themselves.
Save this list if you feel like this is the timetable you want to do your FFCS with
<br><br>

<a id="myBtn" class="btn btn-info text-white btn-block">Show timetable</a> <br>

<!-- The Modal -->
<div id="myModal" class="modal">

<!-- Modal content -->
<div class="modal-content">
    
    <div class="modal-header">
    
    <h2>{{ nickname }}</h2>
    <span id="myModalclose" class="close">&times;</span>
    </div>
    <div class="modal-body">
        {% autoescape off %}
        {{ render_timetable }}
        {% endautoescape %}
    </div>
</div>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
</div>



{{ warning }}
{% autoescape off %}
{{ render_demo }}
{{ render_tables }}
{% endautoescape %}
<button type="button" id="prioritybutton5" class="btn btn-success btn-block"  onclick="Save()">Save</button>
<script>
$('.moovable').sortable();
$('.thunder').sortable();
</script>

{% endblock content %}