{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/viewdata.css' %}"> 
{% endblock head %}
{% block content %}

<h4>Saved Data</h4>
Here is all the data you have saved on our website to help calculate timetables that match your specifications

<br><br><h5>&nbsp; &nbsp;<i class="fas fa-angle-double-right"></i> Current Status of progress</h5> 
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;This shows the progress you have made in the steps of generating your timetables
<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
{% autoescape off %}
    {{ status_details }}
{% endautoescape %}

<br><br><h5>&nbsp; &nbsp;<i class="fas fa-angle-double-right"></i> Uploaded Excel Sheet</h5> 
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;This is the excel sheet required to get details of all available subjects, teachers, and thier respective slots.
<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
{% autoescape off %}
    {{ exceldata }}
{% endautoescape %}

<br><br><h5>&nbsp; &nbsp;<i class="fas fa-angle-double-right"></i> Chosen Teachers</h5>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;This list of teachers are the teachers who you have chosen to create your timetables with
<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
{% autoescape off %}
    {{ teacherdata }}
{% endautoescape %}

<br><br><h5>&nbsp; &nbsp;<i class="fas fa-angle-double-right"></i> Chosen Filters</h5>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;These are the filters you have chosen to reduce timetables to your specifications.
<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
{% autoescape off %}
    {{ filters }}
{% endautoescape %}

<br><br><h5>&nbsp; &nbsp;<i class="fas fa-angle-double-right"></i> Generated Teacher list</h5>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;An interactive teacher list is all you need to win your FFCS!
<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
{% autoescape off %}
    {{ saved_teacher_list }}
{% endautoescape %}
{% endblock content %}

{% block title %}Dashboard{% endblock title %}