/* ANY CSS APPLIED HERE WILL APPLY TO THE FULL PAGE */

.navbar-nav>li {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar {
    padding-left: 10px;
}

#usertitle {
    font-size: 90%;
}

#logoutbtn {
    font-size: 80%;
}

#main-content {
    padding: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}